repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.16
    hooks:
      - id: uv-lock
      - id: uv-export
        args: ["--frozen", "--output-file=requirements.txt", "--quiet"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2  # указывайте актуальную версию mypy
    hooks:
      - id: mypy
        language: system
